extends include/layout

block content
    header.entete-sondage
        h1= t("app.help.help")
    .row
        .col-md-6
            h2= t("app.help.participate")
            p= t("app.help.ontovoting")
            ul
                li
                    span.label.label-info= t("app.help.pick")
                    | &nbsp;
                    = t("app.help.clicking")
                    |,
                li
                    span.label.label-info=t("app.help.order")
                    | &nbsp;
                    =t("app.help.arrows")
                    |,
                li
                    =t("app.help.provide")
                    | &nbsp;
                    span.label.label-info=t("app.help.name")
                    | &nbsp;
                    =t("app.help.wish")
                    | ,
                li
                    span.label.label-info=t("app.help.click")
                    | &nbsp;
                    = t("app.help.votebutton")
                    |,
                li=t("app.help.comments")
                    |.
        .col-md-6
            h2=t("app.help.create")
            p=t("app.help.creating")
            ul
                li= t("app.help.on")
                    |&nbsp;
                    a(href="/")=t("app.help.front")
                    =t("app.help.enter")
                    | &nbsp;
                    span.label.label-info=t("app.help.pollname")
                    | ,
                li
                    span.label.label-info=t("app.help.click")
                    | &nbsp;
                    = t("app.help.createbutton")
                    |,
                li =t("app.help.pollmaking")
                li= t("app.help.configure")
                    |,
                li=t("app.help.enter")
                    |&nbsp;
                    span.label.label-info=t("app.help.propositions")
                    | &nbsp;
                    =t("app.help.like")
                    |,
                li
                    span.label.label-info=t("app.help.share")
                    | &nbsp;
                    =t("app.help.votelink")