include include/header-sondage
extends include/layout
block content
    div(ng-app='pages.sondage', ng-controller="SondageControleur")
        mixin headerSondage(true, true)

        ul.nav.nav-tabs
            li.active
                a(href="#participate", data-toggle="tab")= t("app.sondage.participate")
            li(ng-show="afficheVote()")
                a(href="#votes", data-toggle="tab")
                    = t("app.sondage.existingVotes")
                    | &nbsp;
                    span.badge.badge-info(ng-bind="nombreVotes")
            li(ng-show="sondage.withComments")
                a(href="#disqus_thread", data-disqus-identifier="{{disqus_identifier}}", data-toggle="tab")= t("app.sondage.comments")
        .tab-content
            .tab-pane.active#participate(ng-controller="VoteControleur")
                div(loader="propositionsChargees")
                .alert.alert-warning(ng-show="!votePossible()", ng-cloak)
                    = t("app.sondage.noProposal")
                form(ng-submit="valideVote()", ng-show="votePossible()", ng-if="!sondageFerme()", ng-cloak)
                    h3.text-center= t("app.sondage.proceed")
                    .row(ng-cloak)
                        .row.participation.col-md-8.col-md-offset-2
                            .col-md-6
                                label
                                    span.label.label-primary 1
                                    | &nbsp;
                                    = t("app.sondage.pick")
                                ul.list-group
                                    li.list-group-item(ng-repeat="proposition in propositions")
                                        h5.list-group-item-heading.text-info
                                            strong {{proposition.label}}
                                        p.list-group-item-text
                                            button.btn.btn-info(ng-click="votePour(proposition)", type="button")
                                                = t("app.sondage.select")
                                                span.glyphicon.glyphicon-chevron-right


                            .col-md-6
                                label
                                    span.label.label-primary 2
                                    | &nbsp;
                                    = t("app.sondage.orderThem")
                                ul.list-group
                                    li.list-group-item(ng-repeat="proposition in vote.proposals")
                                        h5.list-group-item-heading.text-success
                                            strong {{proposition.label}}
                                        p.list-group-item-text
                                            .btn-group
                                                button.btn.btn-info(type="button", ng-click="annuleVotePour(proposition)")
                                                    span.glyphicon.glyphicon-chevron-left
                                                    = t("app.sondage.unselect")
                                                button.btn.btn-default(type="button", ng-if="!$first", ng-click="monte(proposition)")
                                                    span.glyphicon.glyphicon-chevron-up
                                                button.btn.btn-default(type="button", ng-if="!$last", ng-click="descend(proposition)")
                                                    span.glyphicon.glyphicon-chevron-down
                    .row.col-md-offset-4
                        .col-md-6.action
                            label
                                span.label.label-primary 3
                                | &nbsp;
                                = t("app.sondage.enterYourNameAndVote")
                            .input-group
                                input.form-control(type="text", placeholder=t("app.sondage.enterNameOrNickname"), ng-model="vote.name")
                                span.input-group-btn
                                    button(type="submit", loading=t("app.sondage.voteInProgress"), ng-disabled="creation").btn.btn-primary= t("app.sondage.voteAction")
                div.text-center(ng-if="sondageFerme()", ng-cloak)
                    h3= t("app.sondage.pollIsClosed")
                    a.btn.btn-default(href="/polls/{{sondage.id}}/result")= t("app.sondage.seePollResult")
            .tab-pane#votes(ng-show="afficheVote()", ng-controller="VotesSondageControleur")
                span(ng-show="votes.length == 0")= t("app.sondage.noVoteYet")
                table.table(ng-show="votes.length > 0")
                    thead
                        tr
                            th= t("app.sondage.participant")
                            th= t("app.sondage.vote")
                    tbody
                        tr(ng-repeat="vote in votes")
			    td
				span(ng-if="vote.participant") {{vote.participant}}
				span(ng-if="!vote.participant")= t('app.sondage.anonymous')
                            td
                                span(ng-repeat="choix in vote.choices")
                                    | {{choix}}
                                    span(ng-if="!$last"), 

            .tab-pane(ng-if="sondage.withComments", disqus)

block js
    != nap.js("sondage")
    script(type="text/javascript").
        var switchTo5x=true;

    script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")

    script(type="text/javascript").
        stLight.options({publisher: "666009eb-0a92-4a94-a03d-abeabcba8f41", doNotHash: false, doNotCopy: false, hashAddressBar: false});